<div class="row">
  <div class="col-xs-12">
    <img src="" alt="">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>REcipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
  <div class="btn-group">
    <button 
    type="button" 
    class="btn btn-primary dropdown-toggle">
      
    Manage Recipe 
    <span class="caret">
      <ul class="dropdown-menu">
        <li><a href="#">shopping</a></li>
        <li><a href="#">edit recipe</a></li>
        <li><a href="#">delete recipe</a></li>
      </ul>
    </span>
    </button>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    description
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      ingredients
    </div>
  </div>